npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# jest cache
.jest/
coverage/
# Expo
.expo/*


# MacOS files
.DS_Store

# dotenv environment variables file
.env*

# npm/yarn
node_modules
.yarn-cache.tgz
yarn.tar.gz

# BUILD
lib
build